{% extends "base.html" %}
{% block container %}
<section>
    <section class="game-container">
        <section class="game">
            <h2>Player</h2>
            <div class="choice">
                <video id="camera" autoplay playsinline></video>
                <canvas id="canvas"></canvas>
            </div>
            <button id="btn">GO!</button>
        </section>
        <section class="results">
            <h3 id="round">Round 1</h3>
            <div class="scores">
                <div class="score">
                    <p>WINS</p>
                    <p id="player-score">0</p>
                </div>
                <div class="score">
                    <p>TIES</p>
                    <p id="tie-score">0</p>
                </div>
                <div class="score">
                    <p>WINS</p>
                    <p id="computer-score">0</p>
                </div>
            </div>
            <ol id="rounds"></ol>
        </section>
        <section class="game">
            <h2>Computer</h2>
            <div class="choice">
                <span id="comp-choice">❓</span>
            </div>
        </section>
    </section>
</section>
<script>
    let round = 1;
    const scores = {
        player: 0,
        tie: 0,
        computer: 0,
    };

    const video = document.querySelector("#camera");
    const canvas = document.querySelector("#canvas");
    const btn = document.querySelector("#btn");
    const compChoiceElement = document.querySelector("#comp-choice");
    const roundElement = document.querySelector("#round");
    const roundsElement = document.querySelector("#rounds");
    
    function updateScore(type) {
        scores[type]++;
        document.querySelector(`#${type}-score`).textContent = scores[type];
    }

    async function startCamera() {
        const constraints = {
            audio: false,
            video: { width: 400, height: 400 },
        };
        try {
            let stream = await navigator.mediaDevices.getUserMedia(constraints);
            video.srcObject = stream;
            video.onloadedmetadata = () => {
                video.play();
            };
        } catch (err) {
            console.error("Error accessing camera:", err);
        }
    }

    function takePicture() {
        const context = canvas.getContext("2d");
        canvas.width = 400;
        canvas.height = 400;
        context.drawImage(video, 0, 0, 400, 400);

        const imageData = canvas.toDataURL("image/png");
        postImageData(imageData);
        pollForResult();
    }

    function postImageData(imageData) {
        fetch("http://127.0.0.1:5001/upload_image", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ image: imageData }),
        });
    }


    function addRoundResult(result) {
        const newResult = document.createElement("li");
        newResult.textContent = result;
        roundsElement.appendChild(newResult);
    }

    function pollForResult() {
        const intervalId = setInterval(async () => {
            try {
                const response = await fetch("http://127.0.0.1:5001/get_result");
                const data = await response.json();

                if (data.choice !== "pending") {                    
                    // Get and display the computer's choice
                    const compChoice = ["rock", "paper", "scissors"][Math.floor(Math.random() * 3)];
                    compChoiceElement.textContent = getEmojiForChoice(compChoice);
                    
                    // Determine the winner
                    const winner = getWinner(data.choice, compChoice);
                    updateScore(winner);
                    
                    // Update round number, add round result
                    round++;
                    roundElement.textContent = `Round ${round}`;
                    addRoundResult(`${getEmojiForChoice(data.choice)} vs ${getEmojiForChoice(compChoice)}`)
                    
                    clearInterval(intervalId);
                }
            } catch (err) {
                console.error("Error polling for result:", err);
                clearInterval(intervalId);
            }
        }, 1000);
    }

    function getEmojiForChoice(choice) {
        switch(choice) {
            case "rock":
                return "✊";
            case "paper":
                return "✋";
            case "scissors":
                return "✌️";
            default:
                return "invalid";
        }
    }

    function getWinner(player, comp) {
        if (player === comp) return "tie";
        if ((player === "rock" && comp === "scissors") ||
            (player === "paper" && comp === "rock") ||
            (player === "scissors" && comp === "paper")) {
            return "player";
        }
        return "computer";
    }

    window.addEventListener("load", startCamera);

    btn.addEventListener("click", (e) => {
        e.preventDefault();
        takePicture();
    });
</script>
{% endblock %}
