* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #ffffff;
}

.container {
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 64px;
    justify-content: center;
    flex-direction: column;
}

.game-container {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    p {
        font-size: 24px;
    }
}

.choice {
    border-radius: 32px;
    background-color: rgb(255, 236, 192);
    width: 400px;
    height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#comp-choice {
    margin: auto;
    line-height: 400px;
    font-size: 160px;
    text-align: center;
}

#btn {
    font-size: 20px;
    padding: 12px 24px;
}

video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

canvas {
    display: none;
}

#btn {
    background-color: rgb(22, 43, 134);
    color: white;
    border-radius: 8px;
    font-weight: bold;
    border: 0px;
}

.results {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}


.button {
    background-color: rgb(22, 43, 134);
    color: white;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    padding: 12px 24px;
    text-decoration: none;
    display: inline-block;
    border: 0px;
    cursor: pointer;
    text-align: center;
}

#rounds-data {
    position: absolute;
    top: 16px;
    right: 16px;
}

.scores {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.score {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.score p:last-child {
    font-size: 24px;
    font-weight: 700;
}

#rounds {
    max-height: 332px;
    overflow-y: scroll;
    scrollbar-width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rounds li{
    list-style-position: inside;
    font-size: 16px;
    margin-bottom: 8px;
}